<div class="page-container">
    <!-- login -->
    <button mat-button routerLink="/login">Login</button>


    <h1>Roll With It</h1>

    <div class="buttons">
        <button mat-raised-button>Create Campaign</button>
        <button mat-raised-button>Join Campaign</button>
        <button mat-raised-button>Load Campaign</button>
        <button mat-raised-button>Design Campaign</button>
    </div>

    <div class="menu">
        <h3>
            <button mat-button>
                Settings
            </button>
        </h3>
        

        <h3>
            <button mat-button>
                Account
            </button>
        </h3>
        
    </div>
</div>