.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  // border: 1px solid black;

}

.messages-container {
  flex: 1;
  border: 1px solid black;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  height: 3rem;
  // flex: 1;

  textarea {
    flex: 1;
    resize: none;
  }

}