<div class="page-container">

  <div class="chat-container">

    <div class="messages-container">

      <div *ngFor="let message of messages">
        <p>{{ message.user }}: {{ message.text }}</p>
      </div>

    </div>



    <div class="input-container">

      <textarea rows="3" [(ngModel)]="message.text" (keyup.enter)="sendMessage()"></textarea>

      <button mat-icon-button (click)="sendMessage()">
        <mat-icon>
          send
        </mat-icon>
      </button>
    </div>
  </div>
</div>