.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  // padding: .5em;

}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: .5em;
  border: 1px solid black;

}

.messages-container {
  flex: 5;
  border: 1px solid black;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  height: 3rem;

  textarea {
    flex: 1;
    resize: none;
  }

}