<div class="page-container">
    <h1>
        Welcome to Roll With It
    </h1>
    <!-- <h4>
        <button mat-button routerLink="/login">Login</button>
    </h4> -->
    <div>
        <app-login></app-login>
    </div>


</div>

<hr>

<div class="page-container">
    <h2>
        What is Roll With It?
    </h2>
    <p>
        Roll With It is a web application that allows you to create and manage your own tabletop roleplaying campaigns.
    </p>
</div>


<hr>

<div class="page-container">
    <h2>
        How do I use Roll With It?
    </h2>
    <p>
        Roll With It is a web application that allows you to create and manage your own tabletop roleplaying campaigns.
    </p>
</div>